name: Unit Tests
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  workflow_call:
    inputs:
      ref:
        description: GitHub ref (branch or tag) to check out
        type: string
        required: true
permissions: write-all
env:
  LC_ALL: en_US.UTF-8
  LANG: en_US.UTF-8
concurrency:
  group: unit-tests-${{ inputs.ref || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  test_ios:
    runs-on: self-hosted
    name: Execute Unit Tests
    strategy:
      matrix:
        collector: [CoreCollectorTests, BitmovinPlayerCollectorTests, AVPlayerCollectorTests, AmazonIVSPlayerCollectorTests]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: ./.github/actions/prepare-dependencies
      - name: Execute iOS Unit Tests for ${{ matrix.collector }}
        timeout-minutes: 10
        run: bundle exec fastlane test_collector "scheme:${{ matrix.collector }}"
